---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<section class="position-relative pt-0">
				<div class="container">
					<div class="row"> 
					{
						posts.map((post) => (
								<!-- Card item START -->
								<div class="col-sm-6 col-lg-3">
									<div class="card mb-4">
										<!-- Card img -->
										<div class="card-fold position-relative">
											<img class="card-img" src={'./'+post.data.heroImage} alt="Card image">
										</div>
										<div class="card-body px-0 pt-3">
											<h4 class="card-title"><a href={`./blog/${post.slug}/`} class="btn-link text-reset stretched-link fw-bold">{post.data.title}</a></h4>
											<!-- Card info -->
											<ul class="nav nav-divider align-items-center text-uppercase small">
												<!--<li class="nav-item">
													<a href="#" class="nav-link text-reset btn-link">Louis Ferguson</a>
												</li>
												-->
												<li class="nav-item"><FormattedDate date={post.data.pubDate} /></li>
											</ul>
										</div>
									</div>
								</div>
								<!--Card item END -->
						))}
					</div>
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>
